@import '../../tailwind';

.form {
  display: grid;
  grid-area: form;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  grid-template-areas:
    'email email email'
    'password password password'
    'submit submit submit';
  grid-template-rows: 6em 6em 6em;
  grid-row-gap: 0rem;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.submit {
  grid-area: submit;
}

.label {
  @extend 
    .block,
    .text-gray-500,
    .text-sm,
    .font-normal,
    .mb-1;
}

.span {
  @extend 
    .mb-2,
    .block;
}

.input {
  @extend
    .bg-gray-100,
    .border,
    .leading-tight,
    .px-3,
    .py-3,
    .rounded,
    .text-gray-700,
    .w-64;
  &:focus {
    @extend .outline-none, .border-gray-300;
  }
}

.button {
  @extend 
    .bg-indigo-500,
    .font-bold, 
    .px-4, 
    .py-2, 
    .rounded-full,
    .text-white, 
    .tracking-wide, 
    .uppercase,
    .w-full;
  box-shadow: 0rem 0rem 1.5rem .4rem rgba(102, 126, 234, 0.6);
  &:hover {
    @extend .bg-indigo-600;
  }
}
