@import '../../tailwind';

.form {
  @extend .bg-white, .shadow-md, .rounded, .px-8, .pt-6, .pb-8, .mb-4;
  display: grid;
  grid-area: form;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  grid-template-areas:
    'email email email'
    'password password password'
    '. submit .';
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.submit {
  grid-area: submit;
}

.label {
  @extend .block, .text-gray-700, .text-sm, .font-bold, .mb-2;
}

.input {
  @extend .shadow,
    .appearance-none,
    .border,
    .rounded,
    .w-full,
    .py-2,
    .px-3,
    .text-gray-700,
    .leading-tight;
  &:focus {
    @extend .outline-none, .border-red-200;
  }
}

.button {
  @extend .bg-red-400, .text-white, .font-bold, .py-2, .px-4, .rounded;
  &:hover {
    @extend .bg-red-600;
  }
}
