@value tailwind: '../../tailwind.css';

.screen {
  composes: bg-red-400 min-h-screen from tailwind;
  display: grid;
  grid-template-areas:
    '. . .'
    '. form .'
    '. . .';
  justify-content: center;
  align-items: center;
}

.container {
  composes: w-full max-w-xs container from tailwind;
  grid-area: form;
  display: grid;
  grid-template-areas:
    '. title .'
    'form form form'
    '. link .';
}

.title {
  composes: text-3xl from tailwind;
  grid-area: title;
}

.link {
  grid-area: link;
  text-align: center;
}
