{
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "commonjs": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react"
  ],
  "plugins": ["react-hooks"],
  "settings": {
    "import/ignore": ["/testUtils"],
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2019,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "warn",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
