@import '../../tailwind';

.screen {
  @extend 
    .bg-gray-200,
    .flex,
    .flex-col,
    .justify-center,
    .min-w-full;
  min-height: inherit;
}

.authWrapper {
  @extend 
    .bg-white,
    .flex-col,
    .flex,
    .max-w-sm,
    .mb-4,
    .px-12,
    .py-16,
    .rounded,
    .shadow-lg;
}

.viewContainer {
  @extend 
    .flex,
    .flex-col,
    .items-center;
}

.title {
  @extend 
    .font-light,
    .mb-20,
    .self-center,
    .text-2xl,
    .text-3xl,
    .text-gray-500,
    .text-center;
  grid-area: title;
}

.link {
  @extend 
    .text-left,
    .text-gray-500,
    .ml-2,
    .text-indigo-400;
  grid-area: link;
  grid-column: 1/3;
  grid-row: 3;
}

.legend {
  @extend .text-gray-500;
}

.legendContainer {
  @extend .text-center;
}
