@import '../../tailwind';

.screen {
  @extend 
    .bg-gray-200,
    .min-h-screen,
    .min-w-full,
    .relative;
}

.authWrapper {
  @extend 
    .bg-white,
    .flex-col,
    .flex,
    .mb-4,
    .px-12,
    .py-16,
    .rounded,
    .shadow-lg,
    .max-w-sm;
}

.viewContainer {
  @extend 
    .absolute,
    .max-w-sm;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title {
  @extend 
    .font-light,
    .mb-20,
    .self-center,
    .text-2xl,
    .text-3xl,
    .text-gray-500,
    .text-center;
  grid-area: title;
}

.link {
  @extend 
    .text-left,
    .text-gray-500;
  grid-area: link;
  grid-column: 1/3;
  grid-row: 3;

  > span {
    @extend 
      .ml-2,
      .text-indigo-400;
  }
}

.legend {
  @extend .text-gray-500;
}

.legendContainer {
  @extend .text-center;
}

