@import '../../tailwind';

.menu {
  @extend
    .absolute,
    .cursor-pointer,
    .bg-indigo-500,
    .flex,
    .flex-col,
    .pt-1,
    .text-white,
    .w-screen,
    .md\:bg-white,
    .md\:border,
    .md\:border-gray-300,
    .md\:border-solid,
    .md\:mr-8,
    .md\:mt-1,
    .md\:py-2,
    .md\:rounded-md,
    .md\:shadow-xl,
    .md\:w-48;
  right: 0;
  top: 4rem;

  &:hover > div {
    @extend .md\:block;
  }

  & > button {
    @extend
      .md\:block,
      .md\:px-4,
      .md\:py-2,
      .md\:text-gray-600,
      .md\:text-right,
      .md\:text-sm,
      .md\:w-full,
      .py-1;

    &:hover, &:focus {
      @extend
        .bg-indigo-400,
        .md\:bg-gray-300;
    }

    &:focus {
      @extend .outline-none;
    }
  }

  &::after {
    @extend
      .md\:absolute,
      .md\:bg-white,
      .md\:border,
      .md\:border-gray-300,
      .md\:border-b-0,
      .md\:border-l-0,
      .md\:border-solid;
    content: '';
    height: 0.6rem;
    right: 0.3rem;
    top: calc(-.25rem - 1px);
    transform: rotate(-45deg);
    width: 0.6rem;
  }
}
