@import '../../tailwind';

.content {
  @extend
    .bg-gray-100,
    .flex,
    .flex-col,
    .justify-center,
    .items-center,
    .p-6,
    .text-center,
    .text-gray-600;
  min-height: calc(100vh - 4rem);
}

.wrapper {
  @extend 
    .flex,
    .flex-col,
    .justify-center,
    .items-center;
}

.title {
  font-size: 6rem;
  @extend .text-gray-600;
}

.goBackHome {
  @extend 
    .bg-indigo-500,
    .font-bold,
    .my-10,
    .px-4,
    .py-2,
    .rounded-full,
    .text-white,
    .tracking-wide;
  box-shadow: 0rem 0rem 1.5rem 0.1rem rgba(102, 126, 234, 0.6);
  width: 10rem;
}
