html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif, 'Roboto';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
