@import '../../tailwind';

.settingsContent {
  @extend .bg-gray-200, .flex, .flex-col;
  min-height: inherit;
}

.settingsContainer {
  @extend .flex, .flex-col, .items-center, .bg-white, .p-8, .w-auto;
  border-radius: 5px;
  margin: 10px auto;
}

.title {
  @extend .font-light,
    .mb-10,
    .self-center,
    .text-2xl,
    .text-3xl,
    .text-center,
    .text-gray-700;
  grid-area: title;
}

.settingsForm {
  @extend .mt-6, .flex, .flex-col, .items-center;
  width: fit-content;
}

.button {
  @extend .my-4, .w-64;
}

.error {
  @extend .text-red-700;
}

.success {
  @extend .text-green-700;
}
